body {
	background: #000;
	margin: 0;
	font-family: Arial, sans-serif;
}

h1, h2 {
	color: white;
	text-align: center;
}

canvas {
	cursor: crosshair;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
